.flex{
    display: flex;
    flex-wrap: wrap;

    &--no-wrap{
        flex-wrap:nowrap;
    }

    &--justify-center{
        justify-content: center;
    }

    &--justify-end{
        justify-content: flex-end;
    }

    &--justify-space-between{
        justify-content: space-between;
    }

    &--justify-space-around{
        justify-content: space-around;
    }

    &--full-h{
        height: 100%;
    }

    &--aligni-center{
        align-items: center;
    }
}