.order-book{
    
    &__ask__container{
        overflow: auto;
    }

    &__median{
        background-color: $altBlack;
        padding: .4rem 1rem;
        margin: 10px -1rem;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;

        &__info{
            margin: 0;
            font-weight: 600;
        }
    }

    &__bid__container{
        overflow: auto;
    }

    &__ask{
        display: flex;
        justify-content: space-between;
    }
    &__bid{
        display: flex;
        justify-content: space-between;
    }

    &__bid--price{
        color: rgb(102, 197, 102);
    }

    &__bid--amount{
        color: gray;
    }
    &__ask--price{
        color: rgb(238, 81, 81);
    }

    &__ask--amount{
        color: gray;
    }
}