.order-book{
    margin-top: 30px;

    &__ask__container{
        overflow: auto;
    }

    &__median{
        background-color: $bottomBarBackground;
        height: 30px;
        margin: 0 -1rem;
        text-align: center;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;


        &__info{
            font-weight: 600;
            margin: 0;
        }
    }

    &__bid__container{
        overflow: auto;
    }

    &__ask{
        display: flex;
        justify-content: space-between;
    }
    &__bid{
        display: flex;
        justify-content: space-between;
    }

    &__bid--price{
        color: rgb(102, 197, 102);
    }

    &__bid--amount{
        color: gray;
    }
    &__ask--price{
        color: rgb(238, 81, 81);
    }

    &__ask--amount{
        color: gray;
    }
}