#app{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1135px;
}

body{
    background-color: #36384c;
    color: #fff;
    font-family: 'Lato', sans-serif;

}

.container{
    display: inline-block;
    margin: 1rem;
    background-color: #849974;
    padding: 1rem;
    border: 1px solid #e3bab3;
    width: 150px;
}
p{
    text-align: center;
    margin: .5rem;
    font-size: 2.5rem;
}

h3{
    margin: 0;
    font-size: 1rem;
}

.hide{
    display: none;
}

.alert{
    background-color: rgb(245, 75, 75);
    order: -1;
}

