@import 'modules/_globals.css';
@import 'modules/_wrapper';
@import 'modules/_flex.css';
@import 'modules/_variables.css';
@import 'modules/_change.css';
@import 'modules/_chart.css';


#app{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1135px;
}

/* .hide{
    display: none;
}

.alert{
    background-color: rgb(245, 75, 75);
    order: -1111;
}


.alert__container{
    border: 1px solid #fff;
    width: 30%;
} */
