*{
    box-sizing: border-box;
}

body{
    background-color: #36384c;
    color: #fff;
    font-family: 'Lato', sans-serif;

}

.wrapper{
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 1400px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.flex--justify-center{
        justify-content: center;
    }

.change{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.change__container{
        display: flex;
        flex-direction: column;
        margin: .5rem;
        padding: .5rem;
        min-width: 100px;
        width: 20%;
        background-color: #849974;
        border: 1px solid #e3bab3;
        box-shadow: .5px .5px .5px black;
        box-sizing: border-box;
        position: relative;
    }

.change__link{
        text-decoration: none;
        color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

.change__title{
        margin: 0;
        font-weight: 300;
    }

.change__price{
        margin: .3rem 0 0 0;
        text-align: center;
    }

.change--alert{
        background-color: rgb(245, 75, 75);
        order: -1;
    }

.change__hide{
        display: none;
    }

.chart{
    margin: 1rem auto;
    height: 300px;
    width: 600px;
}

.left-panel{
    height: 800px;
    width: 20%;
    border: 1px solid #fff;
}

.right-panel{
    height: 800px;
    width: 20%;
    border: 1px solid #fff;
    padding: 1rem;
}

.center-panel{
    width: 60%;
}

.header{
    height: 100px;
    width: 100%;
    border: 1px solid #fff;
}

.trade-history{
    display: flex;
    justify-content: space-between;
}

.trade-history__price{
        color: #849974;
    }

.trade-history__qty{
        color: #e3bab3;
    }

.trade-history__time{
        color: rgb(173, 172, 172);
    }

#app{
    margin: 0 auto;
    max-width: 1300px;
}

