*{
    box-sizing: border-box;
}

body{
    background-color: #36384c;
    color: #fff;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

.wrapper{
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.flex--no-wrap{
        flex-wrap:nowrap;
    }

.flex--justify-center{
        justify-content: center;
    }

.flex--justify-space-between{
        justify-content: space-between;
    }

.flex--justify-space-around{
        justify-content: space-around;
    }

.flex--full-h{
        height: 100%;
    }

.flex--aligni-center{
        align-items: center;
    }

.change{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
}

.change__container{
        display: flex;
        flex-direction: column;
        margin: .2rem;
        padding: .2rem;
        min-width: 80px;
        width: 14%;
        background-color: #849974;
        border: 1px solid #2f313f;
        position: relative;
        transition: all .2s linear;
    }

.change .change__container:hover{
        border: 1px solid #fff;
        -webkit-transform: scale(1.05);
                transform: scale(1.05);
    }

.change__link{
        text-decoration: none;
        color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

.change__title{
        margin: 0;
        font-weight: 300;
    }

.change__price{
        margin: .3rem 0 0 0;
        text-align: center;
    }

.change--alert{
        background-color: rgb(228, 54, 62);
    }

.change__hide{
        opacity: .2;
        background-color: gray;
    }

.chart{
    width: 840px;
    height: 300px;
}

.chart__container{
        width: 100%;
        height: 100%;
    }

.left-panel{
    height: 800px;
    width: 20%;
    border: 1px solid #fff;
    padding: 1rem;
    overflow: auto;
    border-top: none;
    position: relative;
}

.left-panel__title{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 30px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 30px;
        background-color: #2f313f;
        line-height: 30px;
        border-bottom: 1px solid #fff;
        border-top: 1px solid #fff;
    }

.right-panel{
    height: 800px;
    width: 20%;
    border: 1px solid #fff;
    padding: 1rem;
    position: relative;
    border-top: none;
}

.right-panel__title{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 30px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 30px;
        background-color: #2f313f;
        line-height: 30px;
        border-bottom: 1px solid #fff;
        border-top: 1px solid #fff;
    }

.center-panel{
    width: 60%;
    height: 800px;
    overflow: auto;
    border-bottom: 1px solid #fff;
    position: relative;
}

.center-panel__title{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 30px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 30px;
        background-color: #2f313f;
        line-height: 30px;
        border-bottom: 1px solid #fff;
        border-top: 1px solid #fff;
    }

.header{
    background-color: rgb(37, 39, 59);
}

.header--logo__container{
        width: 20%;
        position: relative;
    }

.header--logo-top{
        color: rgb(248, 39, 39);
        text-transform: uppercase;
        font-size: 1.4rem;
        padding: 1rem;
    }

.header--logo-bottom{
        position: absolute;
        top: 25px;
        left: 72px;
        color: #60bb60;
        font-size: 1.4rem;
    }

.header__top-bar {
        display: flex;
    }

.header__btc-ticker{
        text-transform: uppercase;
        display: flex;
        align-items: center;
        color: #00d5ff;
    }

.trade-history{
    display: flex;
    justify-content: space-between;
}

.trade-history__bar{
        display: flex;
        justify-content: space-around;
        background-color: #25273b;
        position: absolute;
        top: 30px;
        left: 0;
        width: 100%;
        height: 25px;
        padding: 0 .5rem;
        color: #fff;
        line-height: 25px;
    }

.trade-history__container{
        margin-top: 40px;
    }

.trade-history__price{
        width: 40%;
        text-align: left;
    }

.trade-history__price--green{
        color:rgb(102, 197, 102);
    }

.trade-history__price--red{
        color: rgb(238, 81, 81);
    }

.trade-history__qty{
        color: #fff;
        width: 40%;
        text-align: left;
        font-size: .9rem;


    }

.trade-history__time{
        color: rgb(173, 172, 172);
        width: 20%;
        text-align: right;
        font-size: .7rem;

    }

.order-book{
    margin-top: 30px;
}

.order-book__ask__container{
        overflow: auto;
    }

.order-book__median{
        background-color: #2f313f;
        height: 30px;
        margin: 0 -1rem;
        text-align: center;
        line-height: 30px;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
    }

.order-book__median__info{
            font-weight: 600;
            margin: 0;
        }

.order-book__bid__container{
        overflow: auto;
    }

.order-book__ask{
        display: flex;
        justify-content: space-between;
    }

.order-book__bid{
        display: flex;
        justify-content: space-between;
    }

.order-book__bid--price{
        color: rgb(102, 197, 102);
    }

.order-book__bid--amount{
        color: gray;
    }

.order-book__ask--price{
        color: rgb(238, 81, 81);
    }

.order-book__ask--amount{
        color: gray;
    }

.alert-ticker{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #2f313f;
}

.alert-ticker__container{
        width:840px;
        margin: 0 auto;
        height: 100%;
        overflow: hidden;
    }

.alert-ticker__slide{
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        -webkit-animation: slide 15s linear infinite;
                animation: slide 15s linear infinite;
    }

.alert-ticker__title{
        font-size: 1.2rem;
        color:#fff;
    }

.alert-ticker__item{
        background-color: #9ff161;
        text-decoration: none;
        padding: .2rem .6rem;
        font-size: 1rem;
        color: #2f313f;
        margin-right: .2rem;
        border: 1px solid #2f313f;
    }

@-webkit-keyframes slide{
    0%{-webkit-transform: translateX(100%);transform: translateX(100%)}
    100%{-webkit-transform: translateX(-100%);transform: translateX(-100%)}
}

@keyframes slide{
    0%{-webkit-transform: translateX(100%);transform: translateX(100%)}
    100%{-webkit-transform: translateX(-100%);transform: translateX(-100%)}
}

.median-bar{
    width: 100%;
    height: 40px;
    border: 1px solid #fff;
    text-align: center;
    background-color: #2f313f;


}

.median-bar__price{
        margin: 0;
    }

.median-bar__duration{
        font-size: .8rem;
    }

.median-bar__input{
        padding: 5.5px;
        color: #fff;
        background-color: #25273b;
        border: 1px solid #00d5ff;
    }

.median-bar__input--small{
        width: 48%;
        margin: 0 .50% 0 .50%;
    }

.median-bar__input--medium{
        width: 75%;
    }

.median-bar__left-container{
        width: 33%;
    }

.median-bar__center-container{
        width: 33%;
    }

.median-bar__right-container{
        width: 33%;
    }

/* Hide HTML5 Up and Down arrows. */

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.footer{
    font-size: 1rem;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
}



